# see https://help.github.com/articles/ignoring-files

/server/src/*.log
/server/src/upstage/*.pyc
/server/src/*.pyc
/client/bin/*.swf
/client/doc/*.*
/client/doc/
/server/src/html/swf/*.swf
/temp
/build
/server/src/config/voices/*.sh
/server/src/html/**/*.zip
/lib/**/*.zip
**/*.tar.gz
